.divider:after,
.divider:before 
{
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom 
{
    height: calc(100% - 73px);
}

body
{
    height: fit-content;
    background-repeat: repeat;
}

@media (max-width: 450px) 
{
    .h-custom
    {
        height: 100%;
    }
}

.login-container 
{
    flex: 1 !important;
    flex-grow: 1;
    margin-bottom: 5vh;
}